body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    /*font-size: 200%;*/

}

h1 {
    color: #66BFBF;
    /* font-size: 562.5%; /* 100%=16px 90px/16 = 5.625 = 562.5%  */ 
    font-size: 5.625rem; /* 16px = 100% = 1em = M */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}


h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
   /* border: 1px solid #EAF6F6;
    border-style: dotted;
    border-width: 5px;
    border-bottom: 0;
    width: 30px;*/

    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 3%;
    margin-top: 100px;
    margin-bottom: 100px;

}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    margin-top: 100px;
    background-color: #66BFBF;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 2;
}


.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
    bottom: 300px;
}

.studies-list {
    list-style-position: inside;
}

.a-programmer-text {
    font-size: 2.5rem;
}

.intro {
    width: 20px; /*NO CAMELLA!!!*/
}

.web-developer-text {
    font-weight: bold;
    font-style: italic;
}

.skill-row {
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.coding-img {
    width: 25%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.bicycle-img {
    width: 25%;
    float: right;
    margin-left: 15px;
}

.diego-img {
    width: 15%;
}

.contact-me {
    line-height: 2;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


.footer-link {
    color: #11999E;    
}

.end-footer-text {
    color: #EAF6F6;
    font-size: 0.8rem;
}